body,html{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.main h3{
    font-family: Poppins;
    font-weight: bold;
    font-size: 28px;
    color: rgb(255, 225, 230);
    margin-left: -36%;
    margin-top: 15px;
}

nav ul{
    float: right;
    border-left: 2px;
    border-color: white;
    margin-left:-10%;
}

nav ul li{
list-style-type: none;
display: inline-block;
transition: 0.7s all;
}

nav ul li:hover{
border-bottom: 3px solid rgb(236, 205, 104);
}

nav ul li a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    font-weight: bold;
    z-index: 2;
    float: left;
    width: 100%;
    text-align: left;

}
.logo{
    margin-left: 40px;
}
.logo img{
    width: 60px;
    float: left;   
}
.bg{
    background-image: url('images/bg light.png');
    height: 110vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-icons{
    margin-left: -40%;
    margin-right: 30px;
}
.nav-icons img{
    width: 40px;
    margin-right: 10px;
}
.nav{
    margin-right: 40px;
}
.intro{
    margin-top: -40%;
    margin-left: -43%;
    text-align: center;
}
.intro h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 5px 5px 5px #000000;
    color: rgb(255, 255, 255);
} 
.intro h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 237, 185);
    text-shadow: 2px 2px 4px #000000;
}
.intro h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
}
.pic2{
    position: absolute;
    width: 40%;
    height: 650px;
    overflow: hidden;
    top: 10vh;
    margin-top: 44.5px;
    margin-left: 93%;
  }
.pic2 img{
    max-width: 66%;
    height: auto;
    display: block;
    float: right;
}
footer{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    opacity: 0.9;
    margin-top: 105px;
}
.footer p{
    text-align: left;
    margin-bottom: 30%;
}
